.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1230px;
    margin: 0 auto;
    padding: 3rem 1rem;
}

.cabecalho__logo {
    background: url("../../img/logo-xbox.svg") center / cover no-repeat;
    display: inline-block;
    width: 144px;
    height: 44px;
}


.menu__lista {
    display: flex;
    align-items: center;
    column-gap: 48px;
}


.menu__link {
    color: var(--cor-branco);
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}



.cabecalho__btn {
    color: var(--bg-fundo);
    background-color: var(--cor-verde);

    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;

}

@media screen and (max-width: 1024px) {
    .cabecalho {
        justify-content: space-evenly;
    }
}

@media screen and (max-width:768px) {
    .cabecalho__btn {
        width: 80%;
        text-align: center;
        margin-top: 15px;
    }
}

@media screen and (max-width:500px) {
    .menu__lista {
        column-gap: 20px;
        margin: 24px 0 56px 0
    }

    .menu__link {
        background: rgba(103, 103, 103, 0.39);
        border-radius: 50px;
        padding: 10px 21px;
        font-size: 8px;
        line-height: 10px;
        letter-spacing: 0.01em;
    }

    .cabecalho__btn {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 393px) {
    .menu__lista {
        column-gap: 10px;
    }
}

@media screen and (max-width:375px) {
    .menu__lista {
        column-gap: 5px;
    }

}  
@media screen and (max-width:360px) {
    .menu__link {
       padding: 10px 19px;
    }

}  

@media screen and (max-width:320px) {
   .menu__link {
    padding: 10px 14px;
   }

}  